<!DOCTYPE html>
<html>
<head>
  <title>Toor It! - <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src = "http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Toor It", home_path, id: "logo"%>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Activities", activities_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <% if current_user %>
          <li class = "member_name">Logged in as <%= current_user.email %>.</li>
          <li> <%= link_to "Log Out", logout_path %></li>
          <% else %>
          <li><%= link_to "Sign Up", signup_path %></li>
          <li><%= link_to "Log In", login_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>

    <div class="container">

        <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
        <a class="close" data-dismiss="alert">&#215;</a>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        </div>
        <% end %>

        <%= yield %>

    </div>

</body>
</html>
